 @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


 html {
   height: 100%;
   font-family: 'Indie Flower', cursive;
   ;
 }

 body {

   background-image: url("/img/sand.jpg");
 }